<form class="text-center border border-light p-5">
    <div class="wrapper" >
        <p class="h4 mb-4">Login</p>
        <div [formGroup]="loginform">

            <input [class.is-invalid]="loginform.get('emailid').invalid && loginform.get('emailid').touched" formControlName="emailid" type ="email" class="form-control mb-4" placeholder="name@example.com">
            <div *ngIf="loginform.get('emailid').invalid && loginform.get('emailid').touched">
             <small *ngIf="loginform.get('emailid').errors?.['required']" class="text-danger">Email id required*</small>
             </div>

             <input [class.is-invalid]="loginform.get('password').invalid && loginform.get('password').touched" formControlName="password" type ="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
             <small  id="defaultRegisterFormPasswordHelpBlock"  class="form-text text-muted mb-4"> At least 8 characters and 1 digit</small>
     
              <div *ngIf="loginform.get('password').invalid && loginform.get('password').touched">
              <small *ngIf="loginform.get('password').errors?.['required']" class="text-danger">Password required*</small>
              </div>
              <div>
              <button class="btn mt-3" routerLink="/homepage-component" routerLinkActive="active">Login In</button>
              <a routerLink="/registration-component" routerLinkActive="active">Registration page</a>
              </div>
            </div>
        </div>
          </form>